<template>
  <div>
    <div id="login-area" :style="{height: '100vh', width: '100vw', background:'url(' + background + ') no-repeat center'}">
      <Row type="flex">
        <Col span="24">
          <Card>
            <div class="header">
              <div class="picWrap" v-if="isLogoShown">
                <div class="logo" :style="{background:'url(' + logo + ') no-repeat center',  backgroundSize: '100% 100%'}" />
              </div>
            </div>
            <Form :model="loginForm">
              <div class="loginWrap" @keyup.enter="submitForm"> <!-- 新增enter也能登入 -->
                <div class="body">
                  <FormItem :label='$t("loginAccount")'>
                    <Input v-model="loginForm.account"/>
                  </FormItem>
                </div>
                <div class="footer">
                  <FormItem :label='$t("loginPW")'>
                    <Input type="password" v-model="loginForm.password"/>
                  </FormItem>
                  <FormItem>
                    <Button @click="submitForm" :loading="isLoggingIn">{{$t('loginConfirm')}}</Button>
                  </FormItem>
                </div>
              </div>
            </Form>
          </Card>
        </Col>
      </Row>
    </div>
  </div>
</template>

<script>
import platformConfig from '@/config/PlatformConfig'
// import { api } from '@/api'
export default {
  data () {
    return {
      loginForm: {
        // account: '',
        // password: ''
        account: 'RT000',
        password: '111111'
      },
      isLoggingIn: false,
      background: platformConfig.background,
      logo: platformConfig.logo,
      isLogoShown: platformConfig.isLogoShown
    }
  },
  methods: {
    async submitForm () {
      const params = new FormData()
      const account = this.loginForm.account.trim()
      const password = this.loginForm.password.trim()
      params.append('account', account)
      params.append('password', password)
      this.$log.info('submitForm: params', params)
      this.isLoggingIn = true
      try {
        // let {data} = await api.post('/login', params)
        // data.data.account = account
        // let data = {}
        await this.$store.dispatch('submitLogin')
        sessionStorage.setItem('activeNav', '0')
        // const res = await api.get('/gamember/accountAndMoblieAccount')
        // this.$store.dispatch('addAccountList', res.data.data)
        this.loginSuccess('/index')
      } catch (err) {
        // const errorCode = err.data.status ? `errorCode-${err.data.status}` : ''
        // if (errorCode) {
        //   this.$Notice.error({
        //     title: this.$t(errorCode)
        //   })
        // }
        console.log('err', err)
      } finally {
        this.isLoggingIn = false
      }
    },
    loginSuccess (to) {
      this.$router.push({
        path: to
      })
    }
  }
}

</script>

<style>
/* 元寶登入畫面開始 */
/* 調整元寶登入背景位置 */
#yuanbao-id #login-area .ivu-row-flex{
  width: 100%;
  height: 100%;
  justify-content:center;
  align-items:center;
}

#yuanbao-id #login-area .ivu-card-bordered{
  height: 299px;
  margin: auto;
  background-color: #5f718ef5;
  border: 0px;
  border-top: 2px solid #23313E;
  border-bottom: 2px solid #23313E;
  display: flex;
  justify-content:center;
}
#yuanbao-id #login-area .ivu-card-body{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
}
#yuanbao-id #login-area .ivu-card{
  border-radius: 4px;
}
#yuanbao-id #login-area .header{
  height: 100%;
  display: flex;
  justify-content:center;
  position: relative;
}
#yuanbao-id #login-area .header .picWrap{
  position: relative;
}
#yuanbao-id #login-area .logo{
  margin-right: 15px;
  margin-top: 10%;
  margin-left:50px;
  height: 175px;
  width:  300px;
}

#yuanbao-id #login-area .ivu-input-default{
  border-radius : 120px;
  height: 35px;
  width: 180px;
  text-align: center;
  background-color: #D2D6E2;
  border: 2px solid #ADB2C9;
  font-size: 14px;
}
#yuanbao-id #login-area .ivu-form-label-right{
  flex-direction: column;
}

#yuanbao-id #login-area .ivu-card .ivu-form .ivu-form-item-label{
  margin: auto;
  font-size: 16px;
  color: rgb(255, 255, 255);
}
#yuanbao-id #login-area .ivu-input-group{
  width: 250px;
  border-radius: 30px;
}
#yuanbao-id #login-area .ivu-input-group-append,
#yuanbao-id .ivu-input-group>.ivu-input:last-child{
    height: 40px;
    border-radius: 4px;
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
}
#yuanbao-id #login-area .ivu-input-group-prepend{
    border-radius: 4px;
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important;
}
#yuanbao-id #login-area .ivu-form{
  display: flex;
  align-items: center;
}
#yuanbao-id #login-area .loginWrap{
  display: flex;
  align-items: flex-start;
  flex-direction: column
}
#yuanbao-id #login-area .ivu-form-item{
  margin: 5px 0 5px 0;
  display: flex;
  flex-direction: row;
}
#yuanbao-id #login-area .footer{
    display: flex;
    justify-content:center;
    align-items:center;
}
#yuanbao-id #login-area .footer .ivu-btn{
  background-color: #3B485B;
  color: white;
  border: 2px solid #2B384D;
  padding: 4px 30px;
  border-radius: 120px;
  margin-left: 10px;
  font-size: 14px;
}
#yuanbao-id #login-area .footer .ivu-btn:hover{
  color: white;
  border-color: rgb(255, 255, 255);
  background-color: #3581EB;
}
/* #yuanbao-id #login-area #loginTitle{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15%;
}
#yuanbao-id #login-area #loginTitle>p{
  position:absolute;
  right: 10px;
  bottom: 10px;
  font-size: 16px;
  color: #8694AE;
  font-weight: 600;
} */
/* 元寶登入畫面結束 */
</style>
