<template>
  <div id="mobile-id">
    <div id="login-area" :style="{height: '100vh', width: '100vw', background:'url(' + background + ') no-repeat center', backgroundSize: 'cover'}">
      <Row type="flex">
        <Col span="24">
          <Card>
            <div class="header">
              <div class="picWrap" v-if="isLogoShown">
                <div class="logo" :style="{background:'url(' + logo + ') no-repeat center',  backgroundSize: '100% 100%'}" />
              </div>
            </div>
            <Form :model="loginForm">
              <FormItem :label='$t("loginAccount")'>
                <Input v-model="loginForm.account"/>
              </FormItem>
              <FormItem :label='$t("loginPW")'>
                <Input type="password" v-model="loginForm.password"/>
              </FormItem>
              <FormItem>
                <Button @click="submitForm()" :loading="isLoggingIn">{{$t('loginConfirm')}}</Button>
              </FormItem>
            </Form>
          </Card>
        </Col>
      </Row>
    </div>
  </div>
</template>

<script>
import platformConfig from '@/config/PlatformConfig'
// import { api } from '@/api'
export default {
  data () {
    return {
      loginForm: {
        account: '',
        password: ''
        // account: 'RT0000000000',
        // password: 'rt1qaz'
      },
      isLoggingIn: false,
      background: platformConfig.backgroundMobile,
      logo: platformConfig.logoMobile,
      isLogoShown: platformConfig.isLogoShown
    }
  },
  methods: {
    async submitForm () {
      const params = new FormData()
      const account = this.loginForm.account.trim()
      const password = this.loginForm.password.trim()
      params.append('account', account)
      params.append('password', password)
      this.$log.info('submitForm: params', params)
      this.isLoggingIn = true
      try {
        // let {data} = await api.post('/login', params)
        // data.data.account = account
        const data = {}
        await this.$store.dispatch('submitLogin', data)
        sessionStorage.setItem('activeNav', '0')
        // const res = await api.get('/gamember/accountAndMoblieAccount')
        // this.$store.dispatch('addAccountList', res.data.data)
        this.loginSuccess('/mobile/index')
      } catch (err) {
        const errorCode = err.data.status ? `errorCode-${err.data.status}` : ''
        if (errorCode) {
          this.$Notice.error({
            title: this.$t(errorCode)
          })
        }
      } finally {
        this.isLoggingIn = false
      }
    },
    loginSuccess (to) {
      this.$router.push({
        path: to
      })
    }
  }
}

</script>

<style>
/* 元寶登入畫面開始 */
/* 調整元寶登入背景位置 */
#yuanbao-id #mobile-id #login-area .ivu-row-flex{
  width: 100%;
  height: 100%;
  justify-content:center;
  align-items:center;
}

#yuanbao-id #mobile-id #login-area .ivu-card-bordered{
  height: 299px;
  background-color: transparent; /* mobile */
  border: 0px;
  border-top: transparent; /* mobile */
  border-bottom: transparent; /* mobile */
  display: flex;
  justify-content:center;
}
#yuanbao-id #mobile-id #login-area .ivu-card-body{
  width: 100%;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column; /* mobile */
  box-sizing: border-box;
  position: relative;
  margin-bottom: 10px;
}
#yuanbao-id #mobile-id #login-area .ivu-card{
  border-radius: 4px;
}
#yuanbao-id #mobile-id #login-area .header{
  height: 100%;
  display: flex;
  justify-content:center;
  position: relative;
}
#yuanbao-id #mobile-id #login-area .header .picWrap{
  position: relative;
}
#yuanbao-id #mobile-id #login-area .logo{
  margin-right: auto; /* mobile */
  /* margin-top: 10%; */ /* mobile */
  margin-left: auto; /* mobile */
  height: 175px;
  width:  300px;
}

#yuanbao-id #mobile-id #login-area .ivu-input-default{
  border-radius : 120px;
  height: 35px;
  width: 180px;
  text-align: center;
  background-color: rgba(207, 219, 210, 0.5); /* mobile */
  color: #000; /* mobile */
  text-shadow: 0.05em 0.05em #222; /* mobile */
  border: 2px solid #ADB2C9;
  font-size: 14px;
}
#yuanbao-id #mobile-id #login-area .ivu-form-label-right{
  flex-direction: column;
}

#yuanbao-id #mobile-id #login-area .ivu-card .ivu-form .ivu-form-item-label{
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-shadow: 0.1em 0.1em 0.2em #111; /* mobile */
}
#yuanbao-id #mobile-id #login-area .ivu-input-group{
  width: 250px;
  border-radius: 30px;
}
#yuanbao-id #mobile-id #login-area .ivu-input-group-append,
#yuanbao-id #mobile-id .ivu-input-group>.ivu-input:last-child{
    height: 40px;
    border-radius: 4px;
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
}
#yuanbao-id #mobile-id #login-area .ivu-input-group-prepend{
    border-radius: 4px;
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important;
}
#yuanbao-id #mobile-id #login-area .ivu-form{
  display: flex;
  align-items: center;
}
#yuanbao-id #mobile-id #login-area .ivu-form-item{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
#yuanbao-id #mobile-id #login-area .ivu-form .ivu-btn{
  background-color: #3B485B;
  color: white;
  border: 2px solid #2B384D;
  padding: 4px 30px;
  border-radius: 120px;
  font-size: 14px;
  margin-top: 16px; /* iphone 只能手動推開了，android會變很開QQ */
}
/* 元寶登入畫面結束 */
</style>
