<template>
  <div id="mobile-main">
    <Layout>
      <Header>
        <Row type="flex" justify="space-between">
          <Col span="4">
            <nav class="main-nav">
              <Burger v-on:isBurgerActive="menuInitial"></Burger>
            </nav>
          </Col>
          <Col span="7" id="header-logo">
            <router-link to="/index">
              <img :src="logo" v-if="false"/>
            </router-link>
          </Col>
          <Col span="9" id="double-items-col">
            <span id="memberID">{{account}}</span>
            <Select @on-change="langChange" v-model="$i18n.locale" :transfer="true" style="width:100px;">
              <Option
                  :key="item"
                  v-for="item in locale"
                  :label="item"
                  :value="item">
              </Option>
            </Select>
          </Col>
          <Col span="4">
            <Button id="logout" @click="logout">{{$t('logout')}}</Button>
          </Col>
        </Row>
      </Header>
      <Content :style="{padding: '0 16px 16px'}">
        <transition name="fade-transform" mode="out-in">
          <router-view />
        </transition>
      </Content>
    </Layout>
    <!-- Menu移出來 -->
    <Sidebar>
      <Menu
        ref="side1Menu"
        theme="dark"
        mode="vertical"
        accordion
        width="auto"
        :style="{minHeight: '100vh', align: 'center'}"
        @on-select="handleSelect"
        :active-name="activeIndex"
        :open-names="openNames"
      >
        <template v-for="(item,index) in navItems">
            <template v-if="item.item.length ===1">
              <MenuItem :key="'menu-'+index" :name="index.toString()" :to="item.item[0].path">
                <!-- <img :key="'img-'+index" :src="menuIcon[item.item[0].name]"> -->
                <span :key="'span-'+index">{{$t(item.item[0].name)}}</span>
              </MenuItem>
            </template>
            <template v-else>
              <Submenu :ref="'submenu'+index" :key="'submenu-'+index" :name="index">
                  <template slot="title">
                      <!-- <img :src="menuIcon[item.name]"> -->
                      <span>{{$t(item.name)}}</span>
                  </template>
                  <template v-for="(subItem,subIndex) in item.item">
                    <MenuItem :key="'sub-menu-'+subIndex" :name="index+'-'+subIndex" :to="subItem.path">
                      <span :key="'span-'+subIndex">{{$t(subItem.name)}}</span>
                    </MenuItem>
                  </template>
              </Submenu>
            </template>
        </template>
      </Menu>
    </Sidebar>
  </div>
</template>

<script>
import { getMenu } from '@/router/menu'
import platformConfig from '@/config/PlatformConfig'
// import { menuIcon } from '@/util/icon' 因為不是每個後臺都需要ICON，故先註解
import Burger from '@/components/mobile/Menu/Burger' // 新menu
import Sidebar from '@/components/mobile/Menu/Sidebar' // 新menu
import { mutations } from '@/util/burger' // 新menu
export default {
  mounted () {
    // this.menuInitial()
    this.langInitial()
  },
  data () {
    return {
      logo: platformConfig.logo,
      newRoutes: JSON.parse(sessionStorage.getItem('newRoutes')),
      navItems: [],
      openNames: [],
      activeIndex: '',
      account: sessionStorage.getItem('account'),
      locale: platformConfig.locale, /** 'English' */
      isLogoShown: platformConfig.isLogoShown
      // menuIcon: menuIcon
    }
  },
  methods: {
    closeSidebarPanel: mutations.toggleNav,
    menuInitial () {
      this.activeIndex = sessionStorage.getItem('activeNav') === null ? '0' : sessionStorage.getItem('activeNav')
      this.openNames = sessionStorage.getItem('activeNav') === null ? ['0'] : [sessionStorage.getItem('activeNav').substr(0, 1)]
      this.$log.info('openNames', this.openNames)
      this.navItems = getMenu(this.newRoutes)
    },
    langChange (value) {
      sessionStorage.setItem('locale', value)
      window.location.reload()
    },
    // 避免語言選單沒有繁中，登入後幫轉簡中
    // 避免語言選單沒有繁中，登入後幫轉簡中
    langInitial () {
      let isDefaultLanguagaOnTheList = false
      this.locale.forEach(lang => {
        if (this.$i18n.locale.includes(lang)) {
          isDefaultLanguagaOnTheList = true
        }
      })
      if (!isDefaultLanguagaOnTheList) {
        const language = this.locale[0]
        this.$i18n.locale = language
        // 得跑一次換語言的function
        this.langChange(language)
      }
    },
    handleSelect (key) {
      sessionStorage.setItem('activeNav', key)
      this.closeSidebarPanel()
    },
    async logout () {
      try {
        await this.$store.dispatch('Logout')
        location.reload()
      } catch (err) {
        console.log(err)
        location.reload()
      }
    }
  },
  components: {
    Burger,
    Sidebar
  }
}
</script>

<style>
#mobile-main .main-nav {
  display: flex;
  justify-content: flex-end;
  padding: .5rem;
  overflow-x: hidden!important;
  overflow-y: hidden!important;
}
#mobile-main .ivu-layout-header {
  padding: 0px 10px;
}
#mobile-main #double-items-col {
  line-height: 30px;
}
#mobile-main #header-logo {
  padding-top: 5px
}
#mobile-main #header-logo img {
  height: 56px;
  width: auto
}
#mobile-main #logout {
  border-radius: 100px;
  background-color: #3D4655;
  color: white;
  margin-left: 10px;
}
#mobile-main #logout:hover {
  color:white;
  background-color:#3581EB;
}
#mobile-main #memberID {
  color:#1A202C;
  font-weight:750;
  padding: 5px 10px;
  background-color: #7A8599;
  border-radius: 100px;
  margin: 0px 2px;
}
/* 共用區開始 */
</style>
