<template>
  <div>
    <nuxt />
  </div>
</template>

<script>
export default {
  mounted () {
    this.languageSet()
  },
  data () {
    return {
      languageList: ['zh', 'zh-tw', 'th', 'vi'] // en先拔掉
    }
  },
  methods: {
    languageMapping (originalLanguage) {
      let languageAfterMapping = ''
      this.languageList.forEach(language => {
        if (originalLanguage.includes(language)) {
          if (language === 'zh' && originalLanguage === 'zh-tw') {
            // 避免繁中轉成簡中
            // 避免繁中轉成簡中
            // 避免繁中轉成簡中
          } else {
            languageAfterMapping = language
          }
        }
      })
      return languageAfterMapping
    },
    languageSet () {
      let originalLanguage = (navigator.language || navigator.browserLanguage).toLowerCase()
      // sessionStorage.setItem('originalLanguage', originalLanguage)
      const language = this.languageMapping(originalLanguage) ? this.languageMapping(originalLanguage) : 'zh'
      if (!sessionStorage.getItem('locale')) {
        sessionStorage.setItem('locale', language)
      }  
    }
  }
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
